<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

  <!-- General -->
  <category label="32001">
    <setting id="confirm.exit" type="bool" label="32002" default="true" />
    <setting id="transcode" type="enum" label="32019" lvalues="32500|32501|32502|32503|32504|32505|32506" default="0" />
    <setting id="debug" type="bool" label="32003" default="false" />
  </category>

</settings>
